body {
    margin: 0;
    padding: 0;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.clearer {
    clear: both;
}

#frame {
    border: 1px solid #333;
    margin: 64px auto;
    padding: 4px;
    width: 514px;
}

#board {
    border: 1px solid #C90;
    width: 512px;
}

#board .row {
    height: 64px;
}

#board .row .cell {
    display: inline-block;
    height: 64px;
    position: relative;
    width: 64px;
}

#board .row .cell.over {
    box-shadow: inset 0 0 4px #00F;
}

#board .row .cell.start {
    box-shadow: inset 0 0 4px #0F0;
}

#board .row:nth-child(even) .cell:nth-child(odd),
#board .row:nth-child(odd) .cell:nth-child(even) {
    background: #C94;
}

#board .row:nth-child(even) .cell:nth-child(even),
#board .row:nth-child(odd) .cell:nth-child(odd) {
    background: #EEE;
}

#board .row .over {
    background: #73C;
}

#board .cell .piece {
    background: url("img/chess_small.png") no-repeat;
    cursor: move;
    font-size: 42px;
    height: 43px;
    margin: 0 auto;
    width: 33px;
}

#board .cell .piece.move {
    opacity: .5;
}

#board .cell .piece.pawn.white {
    background-position: 0 0;
}

#board .cell .piece.king.white {
    background-position: -33px 0;
}

#board .cell .piece.knight.white {
    background-position: -66px 0;
}

#board .cell .piece.rook.white {
    background-position: -99px 0;
}

#board .cell .piece.bishop.white {
    background-position: -132px 0;
}

#board .cell .piece.queen.white {
    background-position: -165px 0;
}

#board .cell .piece.pawn.black {
    background-position: 0 -43px;
}

#board .cell .piece.king.black {
    background-position: -33px -43px;
}

#board .cell .piece.knight.black {
    background-position: -66px -43px;
}

#board .cell .piece.rook.black {
    background-position: -99px -43px;
}

#board .cell .piece.bishop.black {
    background-position: -132px -43px;
}

#board .cell .piece.queen.black {
    background-position: -165px -43px;
}
